body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.hide {
    display: none;
}

.verde {
    color: green;
    font-size: 30px;
}

.logo {
    width: 110px; 
}

.listaSemEstilo ul{
    list-style: none;
}